SECRET_KEY=the-best-secret-key
DEBUG=True
ALLOWED_HOSTS=*
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CLIENT_ID=popug-jira-accounting
AUTH_SERVER_VERIFY_ENDPOINT=http://localhost:8000/api/v1/token/verify/
CELERY_BROKER_URL=redis://127.0.0.1:6379/5
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/6
